font-family: 'PT Sans Caption', sans-serif;
font-family: 'Forum', cursive;
font-family: 'Roboto', sans-serif;


html, body { height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.group-1 {
  width: 100%;
  padding-top: 40px;
  max-width: 1440px;
  padding-bottom: 40px;
  margin: 0 auto;
  background-color:#CCC;
  background-image:-moz-linear-gradient(left,#FFF,#EEE4E2,#FFF);
  background-image:-webkit-linear-gradient(left,#FFF,#EEE4E2,#FFF);
  background-image:-o-linear-gradient(left,#FFF,#EEE4E2,#FFF);
  background-image:-ms-linear-gradient(left,#FFF,#EEE4E2,#FFF);
  background-image:linear-gradient(left,#FFF,#EEE4E2,#FFF);
}

.heading-small {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.heading-large {
  font-family: 'Forum', cursive;
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  padding: 55px 0 40px;
}

.heading-large p {
  margin: 0 auto;
  text-align: center;
}

.heading-large::before, .heading-large::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  margin-left: -16px;
}

.heading-large::before {
  top: 25px;
}

.heading-large::after {
  bottom: 15px;
}

.tags {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.intro {
  font-family: 'Forum', cursive;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;
  width: 100%;
  max-width: 960px;
  line-height: 30px;
  margin-bottom: 75px;
}

.rhomb {
  background-color: black;
  width: 17px;
  height: 17px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
}

.side-rhomb {
  background-color: black;
  width: 17px;
  height: 17px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
}

.line {
  width: 110px;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  margin-left: -16px;
}

.side-line {
  width: 110px;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  margin-left: -16px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  margin-top: 55px;
}

.about div {
  margin: 0;
  font-size: 14px;
  width: 33%;
  text-align: center;
}

.about div p {
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.social > a > div {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

.social > a:first-of-type {
  margin-right: 20px;
}

.social > a > div > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  display: block;
  max-width: 12px;
}

.content-block {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  background-color: #F0E6E4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-img {
  width: 50%;
}

.content-img > img {
  display: block;
  width: 100%;
  position: relative;
}

.content-text {
  width: 50%;
}

.text-block {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
}

.text-block p {
  font-family: 'Forum', cursive;
  font-size: 18px;
  line-height: 30px;
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
}

.first-letter {
  color: black;
  float: left;
  background-color: white;
  height: 210px;
  width: 35px;
  position: relative;
  margin-top: -190px;
  margin-bottom: 350px;
  margin-right: 6px;
}

.first-letter::after {
  height: 300px;
}

.first-letter p {
  font-family: 'Forum', cursive;
  font-size: 64px;
  bottom: 4px;
  position: absolute;
}

.text-line {
  width: 100%;
  max-width: 510px;
  background-color: white;
  height: 45px;
  padding-top: 15px;
  margin-top: 15px;
}

.videoWrapper {
  max-height: 770px;
}

.text-block-2 p {
  font-family: 'Forum', cursive;
  font-size: 18px;
  line-height: 30px;
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
}

p i a {
  color: black;
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  .group-1 {
    height: auto;
    max-height: none;
  }
  .heading-large {
    font-size: 54px;
  }
  .side-rhomb {
    display: none;
  }
  .rhomb {
    display: none;
  }
  .side-line {
    display: none;
  }
  .intro {
    max-width: 590px;
  }
  .first-letter {
    margin-top: -140px;
    height: 160px;
  }
}

@media (max-width: 414px) {
  .social {
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .intro {
    margin-bottom: 0;
  }
  .content-block {
    display: block;
  }
  .content-img {
    width: 100%;
  }
  .content-text {
    width: 100%;
  }
  .first-letter {
    background-color: transparent;
    height: 30px;
    margin-bottom: 0px;
    margin-top: -10px;
    margin-right: 0px;
  }
  .page-number {
    display: none;
  }
  .caption {
    width: auto !important;
    line-height: 1 !important;
  }
  .text-line {
    background-color: transparent;
    font-weight: bold;
    text-align: left !important;
    height: auto !important;
  }
  .quotes {
    margin-top: 10px !important;
  }
  .text-block-2 {
    margin-bottom: 35px;
    padding-top: 40px !important;
  }
  .text-block-2 * {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .padder {
    padding-top: 0 !important;
  }
  .question {
    text-align: left !important;
    margin-bottom: 10px !important;
  }
  .videoWrapper {
    margin-bottom: 20px;
  }
  .mobile-width {
    max-width: 100% !important;
  }
  .mobile-width-margin {
    margin-top: 55px !important;
  }
  .text-block {
    margin-right: 0;
    margin-left: 0;
  }
}

/*END MEDIA QUERIES*/

